body {
}

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.images {
  height: 100vh;
  background-image: url(https://static.cabonline.com/sverigetaxi/b573111d2f0e4e09b934bc257b1e9362.jpg);
  background-size: cover;
  background-position: center;
}

.images-inner {
  max-width: 600px;
  margin: 0 auto;
}

.expl {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
}

.expl img {
  width: 100%;
  height: 100%;
}

.rip {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.mainVid {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 10;
  width: 100%;
}
.mainVid video {
  object-fit: contain;
  object-position: top;
  filter: grayscale(1);
  margin: 0 auto;
  display: block;
  position: relative;
  z-index: 5;
}

h1,
h2 {
  font-family: Helvetica, sans-serif;
  color: #fff;
  font-weight: bold;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 40px;
}

.jontface {
  position: absolute;
  z-index: 1;
}

.jontface {
  position: absolute;
  max-width: 100px;
}

.content {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 15;
  text-align: center;
  width: 100%;
  background: #000;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content img {
  max-width: 100px;
  margin-right: 20px;
}

@keyframes logo {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(10px);
  }
}
.logo {
  position: absolute;
  left: 10px;
  top: 10px;
  background: #000;
  z-index: 2;
  padding: 10px;
}

.cab {
  opacity: 1;
  z-index: 2;
  animation: logo 2s ease infinite;
}

.fire {
  display: flex;
}

.fire img {
  width: 40px;
  height: 40px;
}

.vinit {
  position: absolute;
  left: 10vh;
  bottom: 0;
  z-index: 25;
}

.vinit video {
  max-width: 250px;
}

@keyframes jonthanna {
  0% {
    transform: scale(1) translateY(100%);
  }
  50% {
    transform: scale(1.3) translateY(10%);
  }
  100% {
    transform: scale(1) translateY(100%);
  }
}

.hanjont {
  position: absolute;
  right: 5vh;
  bottom: 100px;
  z-index: 3;
  animation: jonthanna 4s linear infinite;
}

.daniel {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  animation: daniel 2s ease infinite;
}

@keyframes daniel {
  0% {
    transform: scale(1) translateX(30px);
  }
  50% {
    transform: scale(1.05) translateX(10px);
  }
  100% {
    transform: scale(1) translateX(30px);
  }
}

.daniel img {
  max-width: 200px;
}

.boat {
  position: absolute;
  left: 200px;
  top: 0;
  z-index: 12;
}
.boat video {
  max-width: 130px;
}

.quoute {
  position: absolute;
  color: white;
  z-index: 30;
  text-align: center;
  max-width: 400px;
  min-width: 200px;
}

.name {
  font-size: 30px;
}

h3 {
  font-family: Helvetica, sans-serif;
  color: #ff0;
  font-weight: bold;
  font-size: 60px;
  text-shadow: 2px 2px 2px #000;
}

.sound {
  color: white;
  position: absolute;
  right: 10px;
  bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  font-size: 22px;
}

@media (max-width: 700px) {
  .mainVid {
    z-index: 1000;
  }

  .jontface {
    transform: scale(0.2);
    z-index: 1110;
    opacity: 0.65;
    max-width: 30px !important;
  }
  .content {
    z-index: 2000;
  }
  .content img {
    display: none;
  }
  .mainVid video {
    object-fit: cover;
  }

  .sound span {
    display: none;
  }

  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }

  .logo {
    z-index: 3000 !important;
  }

  .hanjont {
    z-index: 1500 !important;
  }

  .hanjont img {
    max-width: 100px;
  }

  .vinit {
    left: 0 !important;
    z-index: 2100 !important;
  }

  .vinit video {
    max-width: 100px !important;
  }

  .quoute {
    z-index: 6000;
  }

  h3 {
    font-size: 20px;
  }

  .name {
    font-size: 20px;
  }
}
